@model FoodSystem.Models.manager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.restaurant.restaurant_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restaurant.restaurant_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.managerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
